# SQL Workshop: Part III

This part contains a set of challenges to help you practice using subqueries in SQLite. It has 3 challenges that will help you explore different applications of subqueries. Good luck! 

For your convenience here is Sakila's ERD:

![sakila ERD](./SQLite3_Sakila_ERD.png)

### Challenge: Establishing a connection

Establish a connection with the Sakila database file called `sqlite-sakila.db`.

In [ ]:
# Your code here

In [ ]:
# Import create_engine from sqlalchemy to connect to the database
from sqlalchemy import create_engine

# Import pandas
import pandas as pd

# Create an engine to the database sqlite-sakila.db
engine = create_engine(f"sqlite:///sqlite-sakila.db")

# Establish a connection to the database
conn = engine.connect()

### Challenge: Subqueries I

Print out titles of films that are longer than a film called "ACADEMY DINOSAUR"

In [ ]:
# Your code here

In [ ]:
# Writing an SQL query 
query = """SELECT title 
FROM film 
WHERE length > (SELECT length FROM film WHERE title = "ACADEMY DINOSAUR")"""

# Querying the database
pd.read_sql_query(query, conn)

### Challenge: Subqueries II

Print out payment IDs of payments that are greater than the average payment.

In [ ]:
# Your code here

In [ ]:
# Writing an SQL query 
query = """SELECT payment_id
FROM payment 
WHERE amount > (SELECT AVG(amount) FROM payment)"""

# Querying the database
pd.read_sql_query(query, conn)

### Challenge: Subqueries III

**Without using JOINs** print out the payment IDs processed by Mike Hillyer.

In [ ]:
# Your code here

In [ ]:
# Writing an SQL query 
query = """SELECT payment_id
FROM payment
WHERE staff_id = (SELECT staff_id FROM staff WHERE first_name = 'Mike' AND last_name = 'Hillyer')"""

# Querying the database
pd.read_sql_query(query, conn)

### Challenge: Subqueries IV

Find all payments (their IDs and amounts) that were processed by a staff member that processed the payment with an ID 574.

In [ ]:
# Your code here

In [ ]:
# Writing an SQL query 
query = """SELECT payment_id, amount
FROM payment
WHERE staff_id = (SELECT staff_id FROM payment WHERE payment_id = 574)"""

# Querying the database
pd.read_sql_query(query, conn)

### Challenge: Subqueries V

Among those payments that are higher than the average, find those processed by Mike Hillyer. Print payment IDs and the full name of the staff member to make sure you did it right.

In [ ]:
# Your code here

In [ ]:
# Writing an SQL query 
query = """SELECT pay.payment_id, stff.first_name, stff.last_name
FROM payment AS pay
INNER JOIN staff AS stff
    ON stff.staff_id = pay.staff_id
WHERE pay.amount > (SELECT AVG(amount) FROM payment) 
AND (stff.first_name = 'Mike' AND stff.last_name = 'Hillyer')"""

# Querying the database
pd.read_sql_query(query, conn)

### Challenge: Subqueries VI

**Part I**

Print out those film titles that are in the store with an ID 1, that are longer the average length, that have a replacement cost higher than average, and that are of rating 'PG' or 'R'.

*Hint*: pay attention to the possible duplicates in the final table. You can search for a solution to delete duplicates.

**Part II**

Find the average duration of films from the table you created in **Part I** and print only the titles of films that are shorter than the average length in that table. Solve this task in one query (without searching for the average in a separate one).

In [ ]:
# Your code here

In [ ]:
# ----- Part I -----

# Writing an SQL query 
query = """SELECT DISTINCT flm.title
FROM film AS flm
INNER JOIN inventory AS inv
    ON flm.film_id = inv.film_id
WHERE flm.length > (SELECT AVG(length) FROM film)
AND flm.replacement_cost > (SELECT AVG(replacement_cost) FROM film)
AND (inv.store_id = 1)
AND (flm.rating = 'PG' OR flm.rating = 'R')"""

# We used DISTINCT here as otherwise we see a lot of duplicated in the film titles
# due to inventory lists

# Querying the database
pd.read_sql_query(query, conn)

In [ ]:
# ----- Part II -----

# Writing an SQL query 
query = """SELECT title 
FROM film 
WHERE length < (SELECT AVG(length)
    FROM film AS flm
    INNER JOIN inventory AS inv
        ON flm.film_id = inv.film_id
    WHERE flm.length > (SELECT AVG(length) FROM film)
    AND flm.replacement_cost > (SELECT AVG(replacement_cost) FROM film)
    AND (inv.store_id = 1)
    AND (flm.rating = 'PG' OR flm.rating = 'R'))"""

# Querying the database
pd.read_sql_query(query, conn)